<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>vidSummarizer - Summarize your audio & videos in simple text!</title>
    <meta content="vidSummarizer helps to analyze sentiment & summarize audio & video files into simple text within few seconds." name="description">
    <meta content="audio,video,summarizer,transcript" name="keywords">

    <meta property="og:title" content="vidSummarizer - Summarize your audio & videos in simple text!">
    <meta property="og:description" content="vidSummarizer helps to analyze sentiment & summarize audio video files into simple text within few seconds.">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://brackethacks.com/1.0/">
    <meta property="og:image" content="https://brackethacks.com/1.0//img/brackethacks-1.0-banner.jpg" />

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/favicon.ico" rel="apple-touch-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="p-3">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center pt-0">

        <div class="container">
            <a href="/" class="logo d-flex align-items-center" style="margin-top: 30px;">
                <img src="/img/vidsummarizer_logo.png" class="img-fluid" alt="vidSummarizer" style="margin: auto; max-height: 100px;">
            </a>
            <div class="row" style="margin-top: 100px !important;">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1>Summarize your audio and video into text</h1>
                    <ul class="mt-3">
                        <li>
                            <span style="font-size: 22px;">High accuracy, on-demand service,</span>
                        </li>
                        <li><span style="font-size: 22px;">Generating single abstractive summary,</span></li>
                        <li><span style="font-size: 22px;">The fastest turnaround through the use of AI,</span></li>
                        <li><span style="font-size: 22px;">Supports almost all formats (audio/video),</span></li>
                        <li><span style="font-size: 22px;">Upload & analyse sentiment</span></li>
                    </ul>
                    <div>
                        <div class="text-center text-lg-start mt-4">
                            <a href="/upload-file" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Summarize Video/Audio</span>
                                <i class="bi bi-chat-dots-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img text-center">
                    <img src="/img/hero_img.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="container h-100" style="margin-top: 70px;">
                <div class="row align-items-center h-100">
                    <div class="container rounded">
                        <!-- <h4 class="text-center text-black">Made With Love ♥ Using</h4> -->
                        <div class="text-center">
                            <img src="/img/cohere_logo.svg" height="60" alt="cohere" style="opacity: 0.3;" class="m-4">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about p-0">

            <div class="container">

                <h1>Summarize the audio/video Automatically</h1>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <span>
                            Is there an audio/video file you need to summarize instantly? Manually summarizing audio/video can take hours of time, if not days for longer ones. Imagine typing word for word the transcription & then summarizing into simple text of a recording, song, or an interview. That can be a really painful process! Now, you can use an online tool that will automatically summarize your files for you. All you have to do is upload your audio/video file.
                        </span>
                    </div>

                    <div class="col-lg-6">
                        <span>
                            vidSummarizer will summarize the speech into simple text of your audio/video file for you automatically. vidSummarizer supports MP4, MOV, MP3, WAV, and other popular audio as well as video formats. After summarization completed, you can copy the text for whatever purpose it may serve. No need to use a Word Document or Google Docs to type your summarization. It is incredibly easy and fast!
                        </span>
                    </div>

                </div>

            </div>

        </section>
        <!-- End About Section -->

        <section class="about p-4">
            <header class="section-header" style="margin-top: 100px !important;">
                <h1 style="font-size: 35px;">Features</h1>
            </header>

            <div class="container" data-aos="fade-up" style="padding: 0; background-color: transparent;">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="box">
                            <img src="/img/audio_to-text.png" class="img-fluid" height="80" width="80">
                            <div class="mt-2">
                                <h4>Video/Audio<br>Summarization</h4>
                                <p class="mt-2" style="margin: 0; ">vidSummarizer helps you to summarize your audio & video files into simple text within few seconds. It also increase accessibility for users who don't want to listen long audio/video file.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-center">
                        <div class="box">
                            <img src="/img/caption.png" class="img-fluid" height="80" width="80">
                            <div class="mt-2">
                                <h4>Accurate<br>Summarization</h4>
                                <p class="mt-2" style="margin: 0; ">The observation defines that summarization has so far accuracy of around 99% and there is only 1% chance of error or a leniency. We're using Co:here internally for summarization & it's faster!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <div class="box">
                            <img src="/img/ai-bot.png" class="img-fluid" height="80" width="80">
                            <div class="mt-2">
                                <h4>Advanced<br>AI Models</h4>
                                <p class="mt-2" style="margin: 0; ">The advanced artificial intelligence has been used for summarize your audio & video file very quickly. With this concept, an hour long file can also be summarize in less than 10 minutes.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq" style="background-color: transparent; margin-top: 100px !important;">

            <header class="section-header">
                <h1 style="font-size: 35px;">FAQ</h1>
                <h5 class="mt-2">Some asked questions!</h5>
            </header>

            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <!-- F.A.Q List 1-->
                        <div class="accordion accordion-flush" id="faqlist1">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">How to summarize?</button>
                                </h2>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        Upload your audio/video file to vidSummarizer and it'll automatically start summarization. You can upload MP4, MOV, MP3, WAV and other popular audio/video file types. After summarization completion you can copy summarized text to clipboard also.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">Can I summarize videos?</button>
                                </h2>
                                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        Yes, you can! Upload your video file to vidSummarizer and our api will summarize the original audio that was recorded in your video.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">Can I play audio/video after summarization done?</button>
                                </h2>
                                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                                    <div class="accordion-body">
                                        Definitely Yes! When you’re done click on ‘Play’ button to play audio/video file. During playing audio/video, you can read transcripted & summarized text as well as.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">

                        <!-- F.A.Q List 2-->
                        <div class="accordion accordion-flush" id="faqlist2">

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">Can I summarize YouTube videos?</button>
                                </h2>
                                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        Yes, You can summarize your video also. You just have to paste youtube link in input field & vidSummarizer will automatically summarize your video.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">Which audio/video format supported?</button>
                                </h2>
                                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        vidSummarizer can summarize a large number of audio and video file formats. We supports almost all video/audio file format eg. MP4, WEBM, MTS, M2TS, TS, MOV, M4P, M4V, MXF, MP3, WAV, AC3, AAC, AMR, FLAC, ALAC, M4A, M4B, WV, VOC & others.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">Does vidSummarizer analyze sentiment?</button>
                                </h2>
                                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                                    <div class="accordion-body">
                                        Yes, vidSummarizer also analyze sentiment of given audio/video file. Currently we are providing results as <strong>POSITIVE</strong>, <strong>NEGATIVE</strong> & <strong>NEUTRAL</strong>.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- End F.A.Q Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer p-4 m-0" style="background-color: transparent;">
        <div class="container text-center">
            <h3 class="mt-3">@vidSummarizer</h3>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

    <!--===============================================================================================-->
    <script>
    </script>
    <!--===============================================================================================-->

</body>

</html>